/* Custom CSS */
/* line 25, ../sass/style.scss */
body {
  position: relative;
  padding-bottom: 0px;
}

@media (min-width: 1200px) {
  /* line 30, ../sass/style.scss */
  .container {
    width: 1100px;
  }
}
/* line 34, ../sass/style.scss */
.navbar-brand {
  padding: 11px 18px;
}

/* line 37, ../sass/style.scss */
.navbar-inverse {
  position: fixed;
  padding: 30px 0;
  background-color: #232323;
  border: none;
  z-index: 999;
  width: 100%;
  border-radius: 0;
}
/* line 46, ../sass/style.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
/* line 49, ../sass/style.scss */
.navbar-inverse .navbar-toggle {
  border-color: #333333;
}
/* line 52, ../sass/style.scss */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-inverse .navbar-nav > .active > a:hover {
  background: none !important;
}
/* line 55, ../sass/style.scss */
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-inverse .navbar-toggle:hover {
  background-color: #333333;
}
/* line 58, ../sass/style.scss */
.navbar-inverse li.butn a {
  padding: 8px 15px;
  border-radius: 3px;
}
/* line 62, ../sass/style.scss */
.navbar-inverse li.buy a {
  background-color: #F95421;
  margin-left: 10px;
}
/* line 66, ../sass/style.scss */
.navbar-inverse li.contact a {
  background-color: #18BEFB;
  margin-left: 20px;
}
/* line 70, ../sass/style.scss */
.navbar-inverse .navbar-nav > li.butn.buy.active > a {
  background-color: #F95421 !important;
}
/* line 73, ../sass/style.scss */
.navbar-inverse .navbar-nav > li.butn.contact.active > a {
  background-color: #18BEFB !important;
}

/* line 78, ../sass/style.scss */
.transparent {
  background: none !important;
}

/* line 81, ../sass/style.scss */
.affix {
  background-color: rgba(35, 35, 35, 0.8) !important;
  padding: 0;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 85, ../sass/style.scss */
.affix .logo {
  height: 30px;
}
/* line 89, ../sass/style.scss */
.affix li a {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 94, ../sass/style.scss */
.affix li .butn a {
  padding: 5px 10px !important;
  border-radius: 3px !important;
}
/* line 99, ../sass/style.scss */
.affix .navbar-nav {
  margin-top: 9px;
}
/* line 102, ../sass/style.scss */
.affix .navbar-nav li a {
  padding: 6px 10px !important;
}

/* line 111, ../sass/style.scss */
.navbar-nav {
  margin-top: 20px;
}
/* line 114, ../sass/style.scss */
.navbar-nav li a {
  padding: 8px 15px !important;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 125, ../sass/style.scss */
.boxes .box {
  padding: 80px 50px;
  min-height: 350px;
  background-color: #f1f1f1;
  vertical-align: middle;
}
/* line 131, ../sass/style.scss */
.boxes .box p {
  vertical-align: middle;
}
/* line 134, ../sass/style.scss */
.boxes .white {
  color: #fff;
}
/* line 137, ../sass/style.scss */
.boxes .box-1 {
  background: url(../images/coffeee.jpg) center center;
  background-size: cover;
}
/* line 141, ../sass/style.scss */
.boxes .box-2 {
  background: url(../images/man_writing.jpg) center center;
  background-size: cover;
}
/* line 145, ../sass/style.scss */
.boxes .box-3 {
  background: url(../images/22_1.jpg) center center;
  background-size: cover;
}

/* line 151, ../sass/style.scss */
.vcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 157, ../sass/style.scss */
.jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  background: url(../images/speedometer-663633_1920.jpg) center center;
  background-size: cover;
  color: #fff;
  height: 100vh;
  position: relative !important;
}
/* line 166, ../sass/style.scss */
.jumbotron:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #111;
  opacity: 0.5;
}
/* line 169, ../sass/style.scss */
.jumbotron p {
  margin-top: 50px;
  font-size: 16px;
  font-weight: 400;
  vertical-align: middle;
}
/* line 175, ../sass/style.scss */
.jumbotron h2 {
  color: #fff;
  margin-top: 50px !important;
}
/* line 178, ../sass/style.scss */
.jumbotron h2 span {
  background-color: rgba(23, 189, 250, 0.4);
  padding: 3px 10px;
  border-radius: 3px;
}
/* line 184, ../sass/style.scss */
.jumbotron .btn {
  box-shadow: 5px 5px 0px #333333;
}
@media only screen and (max-width: 600px) {
  /* line 157, ../sass/style.scss */
  .jumbotron {
    height: inherit;
    padding-top: 0px;
    padding-bottom: 20px;
    margin-bottom: 0px;
  }
  /* line 193, ../sass/style.scss */
  .jumbotron p {
    font-size: 14px;
  }
}

/* line 199, ../sass/style.scss */
.jumbotron-section {
  padding-top: 90px;
  padding-bottom: 90px;
  margin-bottom: 0;
  background-color: #111;
  color: #fff;
}
/* line 205, ../sass/style.scss */
.jumbotron-section p {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
}

/* line 212, ../sass/style.scss */
.contact-form {
  margin-top: 0px !important;
}

/*.contact-form h3, .contact-form h5, .contact-form hr {
	color: #156FBB;
	border-color: #156FBB;
}*/
/* line 220, ../sass/style.scss */
.contact-form .input-group-addon {
  color: #333333;
}
/* line 223, ../sass/style.scss */
.contact-form .input-group, .contact-form .contact-form .btn {
  margin: 7px 0;
}

/* line 228, ../sass/style.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 234, ../sass/style.scss */
.icon-blocks .glyphicon {
  font-size: 48px;
  text-align: center;
  border: 4px solid;
  border-radius: 100%;
  padding: 40px 42px;
  text-shadow: 5px 5px 0px #ddd;
  box-shadow: 5px 5px 0px #ddd;
}
/* line 243, ../sass/style.scss */
.icon-blocks .fa {
  font-size: 70px;
  text-shadow: 5px 5px 0px #ddd;
}
/* line 247, ../sass/style.scss */
.icon-blocks h2, .icon-blocks p {
  line-height: 180%;
  padding: 5px 0;
}

/* line 253, ../sass/style.scss */
.section-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 256, ../sass/style.scss */
.section-container h1, .section-container .section-container h2, .section-container .section h3, .section-container .section-container h4 {
  text-shadow: 5px 5px 0px #ddd;
  font-weight: 700;
}

/* line 262, ../sass/style.scss */
hr, #contact .row, #buy .row {
  margin: 30px 0;
}

/* line 265, ../sass/style.scss */
.w-100 {
  width: 100%;
}

/* line 268, ../sass/style.scss */
.float-left {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

/* line 273, ../sass/style.scss */
.btn {
  box-shadow: 5px 5px 0px #ddd;
}

/* line 277, ../sass/style.scss */
.btn-primary {
  font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  padding: 15px 30px;
}

/* line 283, ../sass/style.scss */
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #000;
  border-color: #222;
}

/* line 301, ../sass/style.scss */
.form-control:focus {
  border-color: #F95421;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0px rgba(249, 84, 33, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0px rgba(249, 84, 33, 0.6);
}

/* line 307, ../sass/style.scss */
.input-group-addon {
  color: #fff;
  background-color: #F95421;
  border: 1px solid #F95421;
}

/* line 313, ../sass/style.scss */
.footer-section {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  background-color: #2B2D2C;
  color: #fff;
}
/* line 319, ../sass/style.scss */
.footer-section .row {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 324, ../sass/style.scss */
footer {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 0;
  background-color: #3b3d3c;
  color: #fff;
  text-align: center;
  margin-bottom: -20px;
}

@media only screen and (max-width: 600px) {
  /* line 335, ../sass/style.scss */
  h1 {
    font-size: 36px;
  }

  /* line 338, ../sass/style.scss */
  h2 {
    font-size: 25px;
  }

  /* line 341, ../sass/style.scss */
  h3 {
    font-size: 20px !important;
  }

  /* line 344, ../sass/style.scss */
  h5 {
    font-size: 13px !important;
    margin: 20px 0;
  }

  /* line 348, ../sass/style.scss */
  .jumbotron
  .navbar-inverse li.butn a {
    padding: 8px 20px;
    border-radius: 0;
  }

  /* line 354, ../sass/style.scss */
  .navbar-inverse li.buy a {
    background: none;
  }

  /* line 357, ../sass/style.scss */
  .navbar-inverse li.contact a {
    background: none;
    margin-left: 0px;
  }

  /* line 361, ../sass/style.scss */
  .affix li.butn a {
    padding: 5px 20px !important;
    border-radius: 0px !important;
  }

  /* line 366, ../sass/style.scss */
  #contact .row {
    margin: 0px 0;
  }

  /* line 369, ../sass/style.scss */
  .input-group {
    margin-bottom: 10px;
  }

  /* line 372, ../sass/style.scss */
  .input-lg {
    font-size: 15px;
  }
}
/*-------------------------------------------------------
 Projects Isotope
-------------------------------------------------------*/
/* line 5, ../sass/_portfolio.scss */
.istope-grid {
  margin: 0 auto;
}

/* line 6, ../sass/_portfolio.scss */
.gutter-sizer {
  width: 0.66%;
}

/* line 7, ../sass/_portfolio.scss */
.grid-item {
  width: 24.5%;
  float: left;
  padding: 0px;
  margin-bottom: 8px;
}
/* line 13, ../sass/_portfolio.scss */
.grid-item img {
  position: relative;
  width: 100%;
}
/* line 17, ../sass/_portfolio.scss */
.grid-item .project-text {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  position: absolute;
  line-height: 20px;
  top: 0;
  left: 0px;
  right: 0px;
  bottom: 0px;
  color: #fff;
  padding-top: 20px;
}
/* line 29, ../sass/_portfolio.scss */
.grid-item .project-text h3 a {
  color: #fff;
  font-size: 25px;
  text-align: center;
}
/* line 34, ../sass/_portfolio.scss */
.grid-item .project-text h3 a::hover {
  color: #F95421;
  border-bottom: none !important;
}
/* line 39, ../sass/_portfolio.scss */
.grid-item .project-text p {
  text-align: center;
}
/* line 42, ../sass/_portfolio.scss */
.grid-item .project-text .link {
  color: #fff;
  background-color: rgba(249, 84, 33, 0.6);
  font-size: 30px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: inline-block;
  line-height: 150% !important;
  text-align: center;
  padding: 7px !important;
  box-sizing: border-box;
  text-transform: uppercase;
}
/* line 55, ../sass/_portfolio.scss */
.grid-item .project-text .link:hover {
  background-color: rgba(249, 84, 33, 0.8);
}

/* clear fix */
/* line 64, ../sass/_portfolio.scss */
.istope-grid:after {
  content: '';
  display: table;
  clear: both !important;
}

/*-------------------------------------------------------
 Projects Isotope Buttons
-------------------------------------------------------*/
/* line 74, ../sass/_portfolio.scss */
.button {
  display: inline-block;
  padding: 10px 25px;
  margin-bottom: 5px;
  background: #e1e1e1;
  border: none;
  border-radius: 7px;
  color: #222;
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
  text-transform: capitalize;
}

/* line 87, ../sass/_portfolio.scss */
.button:hover {
  background-color: #aaa;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  color: #222;
}

/* line 93, ../sass/_portfolio.scss */
.button:active,
.button.is-checked {
  background-color: #040D16;
}

/* line 98, ../sass/_portfolio.scss */
.button.is-checked {
  color: white;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.8);
}

/* line 103, ../sass/_portfolio.scss */
.button:active {
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.8);
}

/* line 107, ../sass/_portfolio.scss */
.button-group {
  margin: auto;
  text-align: center;
}

/* line 111, ../sass/_portfolio.scss */
.button-group:after {
  content: '';
  display: block;
  clear: both;
}

/* line 117, ../sass/_portfolio.scss */
.button-group .button {
  display: inline;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

/* line 123, ../sass/_portfolio.scss */
.button-group .button:first-child {
  border-radius: 25px 0px 0 25px;
}

/* line 126, ../sass/_portfolio.scss */
.button-group .button:last-child {
  border-radius: 0px 25px 25px 0px;
}
