@import "bootstrap-variables";

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin overlay-color($color, $opacity) {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $color;
    opacity: $opacity;
}
$white: #fff;
$orange: #F95421;
$graydark1: #333333;
$graydark2: #232323;
$shadow: 5px 5px 0px #ddd;
/* Custom CSS */
body {
	position: relative;
	padding-bottom: 0px;
}
@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}
.navbar-brand {
	padding: 11px 18px;
}
.navbar-inverse {
    position: fixed;
	padding: 30px 0;
    background-color: $graydark2;
	border: none;
    z-index: 999;
	width: 100%;
	border-radius: 0;
    
        .navbar-nav>li>a {
            color: $white;
        }
        .navbar-toggle {
            border-color: $graydark1;
        }
        .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
            background: none!important;
        }
        .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
            background-color: $graydark1;
        }
        li.butn a {
            padding: 8px 15px;
            border-radius: 3px;
        }
        li.buy a {
	       background-color: $orange;
           margin-left: 10px;
        }
        li.contact a {
            background-color: #18BEFB;
            margin-left: 20px;
        }
        .navbar-nav>li.butn.buy.active>a {
            background-color: $orange!important;
        }
        .navbar-nav>li.butn.contact.active>a {
            background-color: #18BEFB!important;
        }
}

.transparent {
	background: none !important;
} 
.affix {
	background-color: rgba(35, 35, 35, 0.8)!important;
	padding: 0;
    @include transition(all .5s ease-in-out);
        .logo {
	       height: 30px;
        }
        li {
        a {
            padding-top: 6px!important;
            padding-bottom: 6px!important;
            @include transition(all .5s ease-in-out);
         }
        .butn a {
           padding: 5px 10px!important;
	       border-radius: 3px!important;
            }
        }
        .navbar-nav {
	       margin-top: 9px;
            li {
                a {
                    padding: 6px 10px!important;
                }
            }
        }
    

}

.navbar-nav {
    margin-top: 20px;
             li{
                 a {
                    padding: 8px 15px!important;
                    color: $white;
                    text-transform: uppercase;
                    font-weight: 700;
                  }
                }
}


.boxes {
        .box {
            padding: 80px 50px;
            min-height: 350px;
            background-color: #f1f1f1;
            vertical-align: middle;
        }
        .box p {
            vertical-align: middle;
        }
        .white {
            color: $white;
        }
        .box-1 {
            background: url(../images/coffeee.jpg) center center;
            background-size: cover;
        }
        .box-2 {
            background: url(../images/man_writing.jpg) center center;
            background-size: cover;
        }
        .box-3 {
            background: url(../images/22_1.jpg) center center;
            background-size: cover;
        }
}

.vcenter {
    position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.jumbotron {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	background: url(../images/speedometer-663633_1920.jpg) center center;
	background-size: cover;
	color: $white;
    height: 100vh;
    position: relative!important;
    &:before {
        @include overlay-color(#111, 0.5)
    }
        p {
            margin-top: 50px;
            font-size: 16px;
            font-weight: 400;
            vertical-align: middle;
        }
        h2 {
            color: $white;
            margin-top: 50px!important;
            span {
                background-color: rgba(23, 189, 250, 0.4);
                padding: 3px 10px;
                border-radius: 3px;
            }
        }
    .btn {
        box-shadow: 5px 5px 0px $graydark1;
    }
    
    @media only screen and (max-width : 600px) {
        height: inherit;
        padding-top: 0px;
        padding-bottom: 20px;
        margin-bottom: 0px; 
            p {
                font-size: 14px;
            }
    }
}
 
.jumbotron-section {
	padding-top: 90px;
	padding-bottom: 90px;
	margin-bottom: 0;
	background-color: #111;
	color: $white;
        p {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 400;
        }
}

.contact-form {
	margin-top: 0px!important;
}
/*.contact-form h3, .contact-form h5, .contact-form hr {
	color: #156FBB;
	border-color: #156FBB;
}*/
.contact-form {
    .input-group-addon {
        color: $graydark1;
    }
    .input-group, .contact-form .btn {
        margin: 7px 0;
    }
}

.uppercase {
	text-transform: uppercase;
}

.icon-blocks {

    .glyphicon {
        font-size: 48px;
        text-align: center;
        border: 4px solid;
        border-radius: 100%;
        padding: 40px 42px;
        text-shadow: $shadow;
        box-shadow: $shadow;
    }
    .fa {
        font-size: 70px;
        text-shadow: $shadow;
    }
    h2, p  {
        line-height: 180%;
        padding: 5px 0;
    }
}

.section-container {
	padding-top: 30px;
	padding-bottom: 30px;
        h1,.section-container h2, .section h3, .section-container h4 {
            text-shadow: $shadow;
            font-weight: 700;
        }
}

hr, #contact .row, #buy .row {
	margin: 30px 0;
}
.w-100 {
	width: 100%;
}
.float-left {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}
.btn {
	box-shadow: $shadow;
}

.btn-primary {
    font-family: $font-family-serif;
	text-transform: uppercase;
	padding: 15px 30px;
}

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: $white;
  background-color: #000;
  border-color: #222;
}

.form-control:focus {
  border-color: $orange;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0px rgba(249, 84, 33, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0px rgba(249, 84, 33, .6);
}
.input-group-addon {
    color: $white;
    background-color: $orange;
    border: 1px solid $orange;
}

.footer-section {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 0;
	background-color: #2B2D2C;
	color: $white;
        .row {
            margin-top: 0;
            margin-bottom: 0;
        }
} 
footer {
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 0;
	background-color: #3b3d3c;
	color: $white;
	text-align: center;
	margin-bottom: -20px;
}

@media only screen and (max-width : 600px) {
h1 {
	font-size: 36px;
}
h2 {
	font-size: 25px;
}
h3 {
	font-size: 20px!important;
}
h5 {
	font-size: 13px!important;
	margin: 20px 0;
}
.jumbotron 

.navbar-inverse li.butn a {
	padding: 8px 20px;
	border-radius: 0;
}
.navbar-inverse li.buy a {
	background: none;
}
.navbar-inverse li.contact a {
	background: none;
	margin-left: 0px;
}
 .affix li.butn a {
	padding: 5px 20px!important;
	border-radius: 0px!important;
}

#contact .row {
	margin: 0px 0;
}
.input-group {
	margin-bottom: 10px;
}
.input-lg {
	font-size: 15px;
}
}



@import "portfolio";